<div class="container my-3">
    <h3 class="border-bottom pb-2">Register Product</h3>
    <form (submit)="onSubmit($event)">
        <div class="my-3">
            <h5>General Information</h5>
            <div>
                <label class="form-label">Name:</label>
                <input type="text" class="form-control" [formField]="productForm.name">
            </div>
            <div>
                <label class="form-label">Description:</label>
                <textarea rows="10" class="form-control" [formField]="productForm.description"></textarea>
            </div>
        </div>

        <div class="my-3">
            <h5>Price</h5>
            <div>
                <label class="form-label">Amount:</label>
                <input type="number" step="0.01" class="form-control" [formField]="productForm.price.amount">
            </div>
            <div>
                <label class="form-label">Currency:</label>
                <input type="text" class="form-control" [formField]="productForm.price.currency">
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!productForm().valid()">Register</button>
    </form>
</div>