<div class="my-3">
    <h5>Address</h5>
    <div>
        <label class="form-label">Street:</label>
        <input type="text" class="form-control" [formField]="address().street">
    </div>
    <div>
        <label class="form-label">City:</label>
        <input type="text" class="form-control" [formField]="address().city">
    </div>
    <div>
        <label class="form-label">State:</label>
        <input type="text" class="form-control" [formField]="address().state">
    </div>
    <div>
        <label class="form-label">Country:</label>
        <input type="text" class="form-control" [formField]="address().country">
    </div>
    <div>
        <label class="form-label">Zip Code:</label>
        <input type="text" class="form-control" [formField]="address().zipCode">
    </div>
</div>