<div class="container my-3">
    @if (product.hasValue()) {
    <div class="my-3">
        <h3 class="border-bottom pb-2">Product</h3>
        <h5>Information</h5>
        <div>
            <strong>Name:</strong>
            <div>{{ product.value().name }}</div>
        </div>
        <div class="mt-3">
            <strong>Description:</strong>
            <div>{{ product.value().description }}</div>
        </div>
        <div class="mt-3">
            <strong>Price:</strong>
            <div>{{ formatPrice(product.value().price) }}</div>
        </div>
    </div>

    <div class="my-3">
        <h3 class="border-bottom pb-2">Update Product</h3>
        <form (submit)="onSubmit($event)">
            <div class="my-3">
                <h5>General Information</h5>
                <div>
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control" [formField]="productForm.name">
                </div>
                <div>
                    <label class="form-label">Description:</label>
                    <textarea rows="10" class="form-control" [formField]="productForm.description"></textarea>
                </div>
            </div>

            <app-money-form [money]="productForm.price"></app-money-form>

            <button class="btn btn-primary mt-2" type="submit">Update</button>
        </form>
    </div>

    <button class="btn btn-danger mt-3" type="button" (click)="deleteProduct()">Delete</button>
    }
    @else if (product.error()) {
    <div>Could not load product information</div>
    }
    @else if (product.isLoading()) {
    <div>Loading product info...</div>
    }
</div>