<div class="container my-3">
    <h3 class="border-bottom pb-2">Register Company</h3>
    <form (submit)="onSubmit($event)">
        <div class="my-3">
            <h5>General Information</h5>
            <div>
                <label class="form-label">Name:</label>
                <input type="text" class="form-control" [formField]="companyForm.name">
            </div>
            <div>
                <label class="form-label">Description:</label>
                <textarea rows="10" class="form-control" [formField]="companyForm.description"></textarea>
            </div>
        </div>

        <div class="my-3">
            <h5>Address</h5>
            <div>
                <label class="form-label">Street:</label>
                <input type="text" class="form-control" [formField]="companyForm.address.street">
            </div>
            <div>
                <label class="form-label">City:</label>
                <input type="text" class="form-control" [formField]="companyForm.address.city">
            </div>
            <div>
                <label class="form-label">State:</label>
                <input type="text" class="form-control" [formField]="companyForm.address.state">
            </div>
            <div>
                <label class="form-label">Country:</label>
                <input type="text" class="form-control" [formField]="companyForm.address.country">
            </div>
            <div>
                <label class="form-label">Zip Code:</label>
                <input type="text" class="form-control" [formField]="companyForm.address.zipCode">
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!companyForm().valid()">Register</button>
    </form>
</div>