<div class="container my-3">
    <h3 class="border-bottom pb-2">Register Company</h3>
    <form (submit)="onSubmit($event)">
        <div class="my-3">
            <h5>General Information</h5>
            <div>
                <label class="form-label">Name:</label>
                <input type="text" class="form-control" [formField]="companyForm.name">
            </div>
            <div>
                <label class="form-label">Description:</label>
                <textarea rows="10" class="form-control" [formField]="companyForm.description"></textarea>
            </div>
        </div>

        <app-address-form [address]="companyForm.address"></app-address-form>

        <button class="btn btn-primary" type="submit" [disabled]="!companyForm().valid()">Register</button>
    </form>
</div>